langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
rank-bm25
transformers
torch
accelerate
python-dotenv
pandas
numpy
scikit-learn
ragas
datasets
nltk
tqdm
openai
langchain-openai